@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

body {
  background-color: white;
  color: #000e;
  padding: 0.2rem;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: cadetblue;
  text-decoration: none;
  text-shadow: 0px 0px #355e60;
  transition: text-shadow 500ms ease;
}

h1 {
  font-size: 3rem;
  margin: unset;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin: unset;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.2
}

a:hover {
  text-shadow: 0px 1px 5px #355e6055;
}

header {
  max-width: 940px;
  margin: auto;
  display: flex;
  flex-flow: row;
  margin-top: 2rem;
  justify-content: space-between;
}

footer {
  margin-bottom: 2rem;
}

section {
  padding: 3rem 0rem;
}

nav {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

ul {
  padding-left: 1rem;
}

li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modal-wrap {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  top: 0px;
  width: 100%;
  display: flex;
  display: -webkit-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  margin: unset;
  left: 0px;
  flex-flow: column;
  justify-content: center;
}

.modal {
  z-index: 2;
  height: 90%;
  min-height: 512px;
  width: auto;
  max-width: 90%;
  min-width:700px;
  background: #eeeeee;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.modal-iframe {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.modal-pad {
  padding-bottom: 1rem;
}

.reset-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.backdrop {
  padding: 1rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(45deg, cadetblue, wheat);
}

.backdrop img:nth-child(1) {
  margin-bottom: 0.7rem;
}

.between {
  justify-content: space-between;
}

.button {
  width: max-content;
  border: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-top: 0.7rem;
  background-color: #7db97d;
  box-shadow: 0px 3px #7db97d55;
  transition: transform 200ms, background-color 200ms, box-shadow 200ms;
}

.padded {
  padding: 0.5rem;
}

.padded-lg {
  padding: 1rem;
}

.imagebox {
  margin: 1rem auto;
}

.underline {
  border-bottom: 2px dashed;
  padding-top: 2px;
}

.cta {
  padding: 2rem 0rem;
}

.button:hover {
  background-color: #7db97daa;
  box-shadow: 0px 1px #7db97daa;
  transform: translatey(2px);
}

.button h2 {
  text-transform: uppercase;
  color: aliceblue;
  margin: unset;
}

.wrapper {
  max-width: 940px;
  margin: auto;
}

.wrap {
  display: flex;
  flex-flow: wrap;
}

.menu {
  margin: auto;
  display: flex;
  fkex-flow: wrap;
  justify-content: space-around;
}

.menu a {
  margin: auto 0.5rem;
}

.icon {
  width: auto;
}

.centered {
  text-align: center;
}

#icon {
  width: 128px;
}

.slider {
  margin: 0 auto;
  max-width: 940px;
  display: block;
}

.row {
  display: flex;
  flex-flow: row;
}

.image-bounce {
  transform: translatey(0px);
  transition: transform 500ms ease;
}

.image-bounce:hover {
  transform: translatey(-5px);
  transition: transform 200ms ease;
}

@keyframes bounce {
  0% {
    transform: translatey(0px);
  }

  10% {
    transform: translatey(0px);
  }

  11% {
    transform: translatey(5px);
  }

  12% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}

.center {
  justify-content: center;
}

.half {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.slide_viewer {
  height: 512px;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.rounded {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 1rem;
}

.shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background-size: cover;
  background-position: center;
  background-image: url(concept/Fuller_and_Causey_current.jpg);
}

.slide:nth-of-type(2) {
  background-size: cover;
  background-position: center;
  background-image: url(concept/Fuller_and_Causey_concept.jpg);
}

.slide:nth-of-type(3) {
  background-size: cover;
  background-position: center;
  background-image: url(concept/Fuller_and_Oris_Current.jpg);
}

.slide:nth-of-type(4) {
  background-size: cover;
  background-position: center;
  background-image: url(concept/Fuller_Oris_Conept.jpg);
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 340px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -412px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn,
.next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover,
.next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  svg {
    display: none
  }

.modal {
  z-index: 2;
  height: 90%;
  min-height: 512px;
  width: auto;
  max-width: 90%;
  min-width:90%;
  background: #eeeeee;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: auto;
}
  header {
    flex-flow: column;
    margin-top: 0rem;
  }

  #icon {
    width: 80%;
    margin: 2rem 10%
  }

  .row {
    flex-flow: wrap
  }

  .half {
    width: 100%;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
  }

  .previous_btn {
    left: 50px;
  }

  .next_btn {
    right: 50px;
  }
}
